@import '../../../../css/global-style.scss';

.comment-for-hotel {
  border: 1px solid $textColor;
  .comment-textarea {
    height: 125px;
    background: $secondary;
    resize: none;
  }
  .add-pic-box {
    overflow: hidden;
    width: 100px;
    height: 100px;
    border: 1px solid $textColor;

    .add-btn {
      font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
      font-size: 40px;
      cursor: pointer;
    }
  }
  .comment-display-box {
    .hotel-star-fill {
      font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
      font-size: 24px;
      color: $main;
    }
    .comment-pic-box {
      width: 125px;
      height: 100px;

      .comment-display-pic {
        width: 125px;
        height: 100px;
      }
    }
  }
}
